<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbrestauration</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <mapping class="com.rms.model.User" />
        <mapping class="com.rms.model.Restaurateur" />
        <mapping class="com.rms.model.ChefCuisinier" />
        <mapping class="com.rms.model.Administrateur" />
        <mapping class="com.rms.model.Produit" />
        <mapping class="com.rms.model.Commande" />
        <mapping class="com.rms.model.ProductOrder" />
        <mapping class="com.rms.model.Paiement" />
        <mapping class="com.rms.model.Recette" />


    </session-factory>
</hibernate-configuration>